.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* gap between outer groups */
}

.outer-group {
  display: flex;
  flex-direction: column;
  
  gap: 20px; /* gap between inner groups */
}

.inner-group {
  display: flex;
  flex-direction: column;
  
  gap: 10px; /* gap between seat rows */
}

.seat-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px; /* gap between seats */
}

.seat-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.available {
  background-color: #d4edda;
  color: #155724;
}

.unavailable {
  background-color: #f8d7da;
  color: #721c24;
}
.selected {
  background-color: #cce5ff;
  color: #004085;
}

