.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 500px;
  position: relative;
}

.slide-container {
  min-width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-container.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overlay h3 {
    padding: 20px;
    font-family: 'Cutive Mono', monospace;
  margin: 0;
  font-size: 36px;
}

.cta-button {
  /* margin-top: 8px; */
  background-color: #5ce1e6;
  color: white;
  margin: 40px;
  padding: 8px 17px;
  
  text-decoration: none;
  border-radius: 4px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;

}

.cta-button:hover{
    color: white;
    text-decoration: none;
    background-color: black;
    border: 2px solid white;
}
