.travel-banner {
  background-color: #e6f0fa;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: 60px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.travel-banner.expanded {
  height: 180px;
}

.banner-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #d3d3d3;
  border-radius: 50%;
  margin-right: 10px;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

button {
  background-color: #4ecdc4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45b7ae;
}

.expanded-content {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  /* margin-top: 10px; */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.expanded-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.expanded-content p {
  color: #4a4a4a;
}

.seat-box{
  cursor: pointer;
}

