.footer {
    margin-top: 20px;
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 20px;
}

/* .footer-info {
  text-align: center;
} */

.footer-info h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.footer-info p {
  font-size: 14px;
  color: #ccc;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #00aced;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
}
